html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: $text-color;
  background-color: $light-color-1;
}

a {
  transition: 0.3s;
}

a:hover,
a:active {
  color: $accent3-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  padding: 0 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hide {
  display: none;
}