// colors
:root {
  --dark--color: #000000;
  --text-color: #333B41;
  --gray-color: #767474;
  --gray-light-color: #ababab;
  --accent1-color: #e47209;
  --accent2-color: #4b9200;
  --accent3-color: #ffee2e;
  --error-color: #d21414;
}

$dark-color: #000000;
$text-color: #333B41;
$gray-color: #767474;
$gray-light-color: #ababab;
$accent1-color: #e47209;
$accent2-color: #4b9200;
$accent3-color: #ffee2e;
$error-color: #d21414;

$logo-color: #ffa500;
$logo-color-hover: #ffcc6c;
